<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style type="text/css">
	body {
		background-color: teal;
		color: orange;
	}
</style>




	<h1>See All The Pokemon!</h1>

	<ul>

		<% for(let i = 0; i < pokemon.length; i++) { %>
		<li> <%=pokemon[i].name%> </li>
		<a href="/pokemon/<%=i%>" > test</a>
		<% } %>

	</ul>




</body>
</html>