

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>

	<h1>New Pokemon Page</h1>

	<form action="/pokemon/create" method="POST">

		Name: <input type="text" name="name">
		Image: <input type="text" name="img">
		<button type="submit">Submit</button>
	</form>

</body>
</html>






