<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<style type="text/css">
	body {
		background-color: teal;
		color: orange;
	}
</style>




	<h1>Gotta Catch Em All</h1>

	<ul>

		<h2> <%=dud.name%> </h2>
		<img src="<%=dud.img%>" >
		<a href="/pokefriends">Back</a>

	</ul>




</body>
</html>