<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

</head>
<body>





	<h1>Gotta Catch Em All</h1>

	<ul>

		<h2> <%=dud.name%> </h2>
		<img src="<%=dud.img%>" >
		<a href="/pokemon/<%=index%>/edit" > Edit</a>
		<a id="return" href="/pokemon">Back</a>



	</ul>




</body>
</html>